<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!--   <bean id="stu" class="com.kangaroo.springcoreapplication.Student">
        <property name="rno" value="1001" ></property>
        <property name="sname" value="xyz" ></property>
    </bean>-->
    <bean id="stu" class="com.kangaroo.springcoreapplication.Student">
      <constructor-arg value="1001" type="int"></constructor-arg>  
      <constructor-arg value="Pawan Rawat" type="String"></constructor-arg>  
    </bean>
</beans>